---

# name of the resulting output template
template_name: mx_config.j2
template_vars: mx_config.yml

# what junos configuration stanzas should be included in output template?
# currently supports top level stanzas or keyword 'all'
template_stanzas:
  - interfaces
  - system
  - protocols

# do you want to see debug output? Useful for building new paths
debug: false

# what types of things do we need to convert to jinja2 variables.
# each instance should have a path and a name defined
# path follows curly bracket configuration stanza hierarchy

variablize:
  - path:
      - interfaces
      - '(?:ge|xe|et)-\d+\/\d+\/\d+'
    name: interface

  - path:
      - interfaces
      - '(?:lo0|(?:ge|xe|et)-\d+\/\d+\/\d+)'
      - 'unit \d+'
      - 'family inet'
      - address
    name: ip_address

  - path:
      - system
      - hostname
    name: hostname
